<!--  需求單表一  -->
<!-- 撰寫人:林紹瑾 -->
@using DemandOrderSystem.Models.ViewModel
@model TableOneViewModel

@{
    ViewBag.Title = "TableOne";
}

<h2>TableOne</h2>

@{ 
    foreach (var item in Model.Orders)
    {
        <th>@item.OrderName</th>
        <br />
    }
}